<div class="dash-flex-container">

<div class="dash-flex1">
  <h2 class="text-center"><%= current_user.first_name %> <%= current_user.last_name %></h2>
  <hr>
</div>

<div class="dash-flex2">
  <h1 class="text-center rant-label">Latest Rants</h1>
  <hr>
  <h1 class="text-center rant-label">My Rants</h1>
</div>


</div>