<div class="dash-flex-container">

  <div class="dash-flex1">
    <%= render 'rants/create_rant_form' %>
  </div>

  <div class="dash-flex2">

    <h1 class="text-center rant-label"><%= @rant.title.upcase %></h1> <%= link_to "Favorite", root_path %>

    <hr>

    <p><%= @rant.verbage %></p>


  </div>


</div>