/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



.clearfix::after {
    content: "";
    display: table;
    clear: both; }


* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    font-weight: 300;
}

body{
    background-color: #999999;
}

h1{
    font-size: 25px;
}







/*-------- application ---------*/

.app-flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #393B39;
}

.app-flex1 {
    border-right: thin solid green;
    height: 60px;
    width: 155px;
    padding-top: 10px;
}

.app-flex2 {
    flex: 5 0 40px;
    margin-right: 15px;
    height: 60px;
    width: 45px;
    text-align:right;
    padding-top: 16px;
}

.app-flex3 {
    flex: 0 0 140px;
    height: 60px;
    width: 140px;
    padding-top: 16px;
}

.join-button a{
    color: white;
    text-decoration: none;
    background-color: green;
    border: thin solid gray;
    border-radius: 3px;
    font-size: 18px;
    padding: 6px 40px 6px 40px;
}

.join-button a:hover{
    box-shadow: 0px 0px 10px black;
    background-color: forestgreen;
}

.login-link a{
    color: lightgray;
    font-size: 14px;
    text-decoration: underline;
}

.login-link a:hover{
    color: whitesmoke;
    text-shadow: 1px 1px 2px black;
}

.logo-link a{
    color: lightgray;
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    margin-left: 40px;
}

.logo-link a:hover{
    text-shadow: 1px 1px 10px black;
}

#highlight {
    color: lightgreen;
    text-decoration: none;
}

.dash-links a:link{
    color: lightgray;
    text-decoration: none;
}
.dash-links a:visited{
    color: lightgray;
    text-decoration: none;
}
.dash-links a:hover{
    color: whitesmoke;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
}

.green {
    color: lightgreen;
    font-size: 16px;
}

.border-right-green{
    padding-right: 15px;
    border-right: thin solid lightgreen;
}

.logout-button a{
    color: white;
    text-decoration: none;
    background-color: green;
    border: thin solid gray;
    border-radius: 3px;
    font-size: 18px;
    padding: 6px 40px 6px 40px;
}

.logout-button a:hover{
    box-shadow: 0px 0px 10px black;
    background-color: forestgreen;
}

.app-flex4 {
    flex: 3 0 20px;
    margin-left: 15px;
    margin-right: 15px;
    height: 60px;
    width: 400px;
    text-align: center;
}

.app-flex5 {
    flex: 0 0 180px;
    height: 60px;
    width: 180px;
    padding-top: 16px;
}



    /*------Nav Media Query-----*/
        .menu-icon{
            display: none;
            height: 30px;
            width: 30px;
            margin-top: 10px;
        }

        .list-menu{
            width: 100%;
            float: left;
            padding-left: 15%;
        }

        .list-menu ul {
            list-style: none;
        }

        .list-menu li {
            /*border: 1px solid #4C9CF1;*/
            width: auto;
            display: inline-block;
            float: left;
            padding-right: 15px;
        }

        @media only screen and (max-width : 850px) {

            .menu-icon {
                display: block;
            }
            .border-right-green{
                border-right: none;
            }

            nav ul, nav:active ul {
                display: none;
                position: absolute;
                padding: 2%;
                background: #fff;
                border: 4px solid #444;
                left: 160px;
                top: 1%;
                width: 120px;
                border-radius: 4px 0 4px 4px;
            }

            nav li {
                text-align: left;
            }

            nav:hover ul {
                display: block;
            }
}

/*-------- end application ---------*/




/*-------- homepage ---------*/
.section-white {
    background-color: white;
    padding-top: 4%;
    padding-bottom: 4%;
}

.home-flex-container{
    margin: 10% 10% 10% 10%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}
.home-flex1{
    height: 150px;
    width: 150px;
}
.home-flex2{
    flex: 0 0 60%;
    height: 150px;
}

h1.home-rant {
    font-size: 60px;
    margin: 0;

}
p.no-margin{
    margin: 0;
}


.home-bottom{
    color: whitesmoke;
    font-size: 14px;
}

.text-center{
    text-align: center;
}

/*-------- end homepage ---------*/




/*-------- form general ---------*/

.form-container{
    background-color: white;
    border: thin solid black;
    width:60%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.form-submit{
    border-top: thin solid black;
    padding: 15px;

}

.form-padding{
    padding: 0px 15px 0px 15px;
}
/*-------- end form general ---------*/





/*-------- login ---------*/

.login-form-label{
    margin-left: 10px;
}

.login-form-submit-button{
    background-color: green;
    color: white;
    border: thin solid gray;
    border-radius: 3px;
    font-weight: 300;
    font-size: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 100%
}

.login-form-field{
    width: 100%;
    margin-bottom: 15px;
}

/*-------- end login ---------*/




/*-------- Join ---------*/


.join-flex-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    margin-left: 15px;
}

.join-flex{
    flex: 1 0 200px;
}

.join-form-field{
    width: 95%;
    margin-bottom: 5px;
}

.radio-button-flex-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
    padding-bottom: 15px;
}

.radio-button-flex{
    flex: 0 0 90px;
    padding-bottom: 5px;
}

.join-form-area{
    width: 100%;
    height: 100px;
}
.join-form-submit-button{
    background-color: green;
    color: white;
    border: thin solid gray;
    border-radius: 3px;
    font-weight: 300;
    font-size: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 100%
}

/*-------- end Join ---------*/




/*-------- Dashboard ---------*/

        /*------Dashboard Media Query-----*/
        @media (min-width:640px){

            .dash-flex-container {
                display:flex;
            }
            .dash-flex1 {
                flex: 1 0 250px;
            }
            .dash-flex2 {
                flex: 5 0 300px;
            }
        }

        .dash-flex-container {
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-content: stretch;
            align-items: stretch;
        }

        .dash-flex1 {
            padding: 0px 20px 0px 20px;
            margin-bottom: 5%;
        }

        .dash-flex2 {
            background-color: white;
            padding: 0px 20px 0px 20px;
            padding-top: 20px;
        }

h1.rant-label {
    font-size: 34px;
    margin: 0;

}

.white-text {
    color: whitesmoke;
}

.rant-form-submit-button {
    background-color: green;
    color: white;
    border: thin solid gray;
    border-radius: 3px;
    font-weight: 300;
    font-size: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 100%
}

.rant-form-field{
    width: 100%;
    margin-bottom: 10px;
}
.rant-form-area{
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.font-10pt {
    font-size: 10pt;
}
.user-link a{
    text-decoration: none;
    color: black;
}
.user-link a:hover{
    color: lightgreen;
}

.rant-link a{
    text-decoration: none;
    color: black;
}
.rant-link a:hover{
    background-color: whitesmoke;
}

.bottom-margin{
    margin-bottom: 50px;
}


/*-------- end Dashboard ---------*/





/*-------- Rant Show ---------*/

.rant-show-flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    width: 75%;
    float: left;
}

.rant-show-username {
    margin-left: 10px;
    padding-left: 10px;
    border-left: thin solid gray;
}

.fav-follow-flex-container {
    width:25%;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: right;
}

.fav-follow-link a{
    color: black;
}

.fav-follow-link a:hover{
    color: lightgreen;
}


/*-------- end Rant Show ---------*/