/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    font-weight: 300;
}

body{
    background-color: #999999;
}

h1{
    font-size: 25px;
}





/*-------- application ---------*/

.app-flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*justify-content: flex-start;*/
    /*align-content: flex-start;*/
    /*align-items: baseline;*/

    background-color: #393B39;
}

.app-flex1 {
    /*flex: 1 0 150px;*/
    border-right: thin solid green;
    height: 60px;
    width: 155px;
    padding-top: 10px;
}

.app-flex2 {
    flex: 5 0 40px;
    margin-right: 15px;
    height: 60px;
    width: 45px;
    text-align:right;
    padding-top: 16px;
}
.app-flex3 {
    flex: 0 0 140px;
    height: 60px;
    width: 140px;
    padding-top: 16px;

}


.join-button a{
    color: white;
    text-decoration: none;
    background-color: green;
    border: thin solid gray;
    border-radius: 3px;
    font-size: 18px;
    padding: 6px 40px 6px 40px;
}

.login-link a{
    color: lightgray;
    font-size: 14px;
    text-decoration: underline;
}


.logo-link a{
    color: lightgray;
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    margin-left: 40px;
}

#highlight {
    color: lightgreen;
    text-decoration: none;
}

.dash-links a:link{

    color: lightgray;
    text-decoration: none;
}
.dash-links a:visited{
    color: lightgray;
    text-decoration: none;
}
.dash-links a:hover{
    color: white;
    text-decoration: none;
}

.green {
    color: lightgreen;
    font-size: 16px;
}

.logout-button a{
    color: white;
    text-decoration: none;
    background-color: green;
    border: thin solid gray;
    border-radius: 3px;
    font-size: 18px;
    padding: 6px 40px 6px 40px;
}

.app-flex4 {
    flex: 3 0 400px;
    margin-left: 15px;
    margin-right: 15px;
    height: 60px;
    width: 400px;
    padding-top: 16px;
    text-align: center;
    /*border: thin solid black;*/
}

.app-flex5 {
    flex: 0 0 180px;
    height: 60px;
    width: 180px;
    padding-top: 16px;
    /*border: thin solid black;*/
}
/*-------- end application ---------*/




/*-------- homepage ---------*/
.section-white {
    background-color: white;
    padding-top: 4%;
    padding-bottom: 4%;
}

.home-flex-container{
    margin: 10% 10% 10% 10%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}
.home-flex1{
    height: 150px;
    width: 150px;
}
.home-flex2{
    flex: 0 0 60%;
    height: 150px;
}

h1.home-rant {
    font-size: 60px;
    margin: 0;

}
p.no-margin{
    margin: 0;
}


.home-bottom{
    color: whitesmoke;
    font-size: 14px;
}

.text-center{
    text-align: center;
}

/*-------- end homepage ---------*/




/*-------- form general ---------*/

.form-container{
    background-color: white;
    border: thin solid black;
    width:60%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.form-submit{
    border-top: thin solid black;
    padding: 15px;

}

.form-padding{
    padding: 0px 15px 0px 15px;
}
/*-------- end form general ---------*/





/*-------- login ---------*/

.login-form-label{
    margin-left: 10px;
}

.login-form-submit-button{
    background-color: green;
    color: white;
    border: thin solid gray;
    border-radius: 3px;
    font-weight: 300;
    font-size: 18px;
    padding-top: 6px;
    padding-bottom: 6px;

    width: 100%

}

.login-form-field{
    width: 100%;
    margin-bottom: 15px;
}

/*-------- end login ---------*/




/*-------- Join ---------*/


.join-flex-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;

    margin-left: 15px;
}

.join-flex{
    flex: 1 0 200px;

}


.join-form-field{
    width: 95%;
    margin-bottom: 5px;
}


.radio-button-flex-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;

    padding-bottom: 15px;
}
.radio-button-flex{
    flex: 0 0 90px;
    padding-bottom: 5px;
}

.join-form-area{
    width: 100%;
    height: 100px;
}
.join-form-submit-button{
    background-color: green;
    color: white;
    border: thin solid gray;
    border-radius: 3px;
    font-weight: 300;
    font-size: 18px;
    padding-top: 6px;
    padding-bottom: 6px;

    width: 100%

}

/*-------- end Join ---------*/




/*-------- Dashboard ---------*/
.dash-flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;

}
.dash-flex1 {
    /*flex: 0 0 300px;*/
    width: 30%;
    padding: 0px 20px 0px 20px;
}
.dash-flex2 {
    /*flex: 0 0 300px;*/
    width: 70%;
    background-color: white;
    padding: 0px 20px 0px 20px;
}
h1.rant-label {
    font-size: 34px;
    margin: 0;

}



/*-------- end Dashboard ---------*/